In [3]:
import pandas as pd

#####  https://youtu.be/2AFGPdNn4FM
#### How do I filter rows of a pandas DataFrame by column value?

In [4]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [5]:
movies.head(n=7)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."

In [6]:
movies.shape

(979, 6)

In [ ]:
tnf = []
for length in movies.duration:
    if length >= 200:
        tnf.append(True)
    else:
        tnf.append(False)

In [ ]:
tnf[0:5]

In [ ]:
len(tnf)

In [ ]:
is_long = pd.Series(tnf)

In [ ]:
is_long[0:5]

In [ ]:
is_long = movies.duration >= 200

In [ ]:
## to refer to other columns movies[movies.duration >=200]['genres']

In [ ]:
#or use loc method
movies.loc[movies.duration >=200, 'genre']

## easiest method

In [ ]:
movies[movies.duration >=200]

In [ ]:
movies[is_long]

### How do I apply multiple filter criteria to a pandas DataFrame?

In [ ]:
movies2 = pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies2.head()

In [ ]:
movies2[(movies2.duration >=200) & (movies.genre == 'Drama')]

In [ ]:
# or conditions

movies2[(movies2.duration >=200) & (movies2.genre.isin(['Crime','Drama','Action']))]

### How do I select multiple rows and columns from a pandas DataFrame?

In [ ]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
ufo.head(3)

In [ ]:
ufo.shape

In [ ]:
# what rows, columns
#row 0 all columns
ufo.loc[0, :]

In [ ]:
#multiple rows
#ufo.loc[[0,1,2], :]
#or
ufo.loc[0:3,:]

In [ ]:
#slects all columns for the following rows
ufo.loc[0:2]

In [ ]:
ufo.loc[:,'City':'State']

### loc 
##### inclusive of both sides

In [ ]:
ufo.loc[:,['City','State']]

In [ ]:
ufo.loc[0:2, 'City':'State']

In [ ]:
ufo[ufo.City=='Oakland']

In [ ]:
ufo.loc[ufo.City =='Oakland', 'State']

### integer position

In [ ]:
## exclusive on second side
ufo.iloc[:,0:3]

In [ ]:
ufo.columns

In [ ]:
#Columns
ufo[['City','State']]

In [ ]:
#rows integer position
ufo[0:2]
#or
#ufo.iloc[0:2, :]

###  ix combo of loc and iloc

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry',index_col = 'country')

In [ ]:
drinks.head(n=4)

In [ ]:
drinks.ix['Albania',0]
#albania label of row, 0 is the position of the column

In [ ]:
drinks.ix[1, 'beer_servings']
#1 is the positions of the row

In [ ]:
drinks.ix['Albania':'Andorra',0:2] #iloc (0:2) or exclusive